@charset "UFT-8";

/* HTML: id  //  CSS: #
   HTML: class // CSS: .
*/   

body{
    background-color: #cff5ca;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #3d8b36;
}
h1#principal{
    text-align: center;
    background-color: #41af37;
    color: white;
}   
h2{
    color: #193d15 
}
.basico{
    color: #193d15;
    font-weight: bolder;
}
.intermediario{
    color: #505c0b;
}
.avancado{
    color: #703906;
}
.destaque{
    background-color: rgba(240, 240, 74, 0.521);
}